@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,100;1,300&display=swap');

body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}

.nav-logo{
    width: 60px;
    margin-left: 40px;
}

.navbar-toggler{
    background-color: #ec6c06 !important;
}

.logo-text{
    color:white !important;
    font-family: 'Roboto', sans-serif !important;
    font-size: 28px !important;
    font-weight: 200;
    margin: 0 10px;
    
}

.navbar-background{
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif !important;
    
}

.nav-links-container{
    margin-right: 40px;
}

.nav-links{
    color:white !important;
    font-family: 'Roboto', sans-serif !important;
    font-size: 18px !important;
    margin: 0 10px;
}


nav{
    font-family: 'Roboto', sans-serif;
    height: 15%;
}

nav ul{
    display: flex;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
    align-items: center;
}

nav ul li{
    padding: 0 12px;
}

.brand img{
    height: 69px;
    width: 71px;
    padding: 8px;
}

.bg-container{
    
    
    color:white;
    font-family: 'Roboto', sans-serif;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    background-image: url('black\ background\ 2.webp');
    background-size: cover;
}

.bottom{
    position: sticky;
    height: 110px;
    background-color: black;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}




.icons{
    margin-top: 15px;
}

.icons i {
    cursor: pointer;
}

#myProgressBar{
    width: 70vw;
    cursor: pointer;
}



.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;

}


.songItemContainer{
    margin-top: 74px;
}

.songItem img{
    width: 43px;
    margin: 0 23px;
    border-radius: 30px;
}

.timeStamp{
    margin: 0 23px;
    
}

.timeStamp i{
    cursor: pointer;
}

.songInfo img{
    width: 80px;
}

.songInfo{
    display: flex;
    align-items: center;
    position: absolute;
    left: 14vw;
    margin-top: 31px;
    font-family: 'Roboto', sans-serif; 
}

.songInfo img{
    opacity: 0;
    transition:opacity 0.4s ease-in;
}
